@import "64_rectangle.css";
@import "64_rec_animation.css";
@import "64_rec_position.css";

/*Стиль для значения полей*/

.valueTable{
    position: relative;
    margin: 0px auto;

}
.valueTd {
    border:1px solid #000;
    width:20px;
    height: 90px;
    transform: rotate(-90deg);

}
.valueInput {
    width:40px;
    height: 90px;
   /* transform: rotate(90deg); */

}


.userTable, .constTable {
    position: relative;
    display: block;
    margin:0px auto;
    border:1px solid #000;
    width:720px;
    height:140px;
}

.constTable {
    border-top:3px solid gold;
}


.userTd, .constTd {
    position: absolute;
    border:1px solid #000;
    width:40px;
    height:30px;
    text-align: center;
    overflow: hidden;
}


.userInput, .constInput{
    position: absolute;
    top: 0px;
    left:0px;
    border: none;
    outline: none;
    width:42px;
    height:30px;
    text-align: center;
   /* z-index: 4; */
}

label {
    position: absolute;
    border:1px solid #000;
    width:40px;
    height:30px;
    top: 0px;
    left:0px;
    background: #000000;
    text-align: center;
}
.constInput:before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: green;
  /*  z-index: 5; */
}
.userInput:disabled{
    /*background: blue; */
}