.boxOptions {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;

}
/* в нём находится полупрозрачный экран, на 20px меньше */
.fon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: blue;
    background: linear-gradient(to bottom, #2A1523, #FFF);
    /*opacity: 0.3; */
    /*filter: alpha(opacity=30); */
    opacity: 0.7;

}
/* форма находится не в экране, а рядом с ним, чтобы не быть полупрозрачной */
.boxOptions form {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /* центрирование */
    margin: auto;  /* центрирование */
    height: 450px;
    width: 550px;
    border: 1px solid black;
    padding: 5px 5px 5px 75px;
    background: url(key.png) 3px 5px white no-repeat;
}
.optionButton{
    position: relative;
    width: 20px;
    height: 20px;
}
.optionImg{
    position: absolute;
    width:10px;
    height:10px;
    top: 30%;
    left:25%;
    /* top: 0;left: 0;right: 0;bottom: 0; */

}
.optionInp{
    width:90px;
    height: 25px;

}
.optionTd{
    margin-left: 10px;
}

.onNot, .onOk{
    position: absolute;
    bottom: 10px;
    width: 70px;
    height: 30px;
}
.onOk{
    left: 10px;
}
.onNot{
    right: 10px;
}